<div class="row">
  <div class="col-lg-12">
    <h2>My Items</h2>
    <div class = "table-responsive">
      <table class = "table">
        <tr>
          <th>Item Name</th>
          <th>Lost</th>
          <th>Found</th>
          <th>Description</th>
          <th>QR Code</th>
        </tr>

        {{#each items}}
          <tr style="text-align: left;">
            <td>{{name}}</td>
            <form action="/my-items" method="post">
              <td><input type="submit" name="{{_id}}" value={{lost}} id="lost"></td>
            </form>
            <td>{{found}}</td>
            <td>{{desc}}</td>
            <td><img src={{qrCode}} width="250px" height="250px"/><td>
          </tr>
        {{/each}}
      </table>
      <p>
        **To toggle whether an item is lost, click on the item's "lost" button.
        Once an item is found and scanned, it will
        automatically be marked as found.
      </p>
    </div>

  </div>
</div>
